//- One file can only extend one other file
extends base

//- Poniżej następuje nadpisanie elementu block z base. Teraz ten element będzie zawierał poniższy kod.
block content 
  main.main
    .card-container.favourite-tours